body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-weight: 700 !important;
}

h4, h5, h6 {
    font-weight: 600 !important;
}

li {
    a {
        font-weight: 600 !important;
    }
}

.fs-4 {
    font-weight: 600 !important;
}